@model ArticlesApp.Models.ApplicationUser


<div>

    <h5 class="text-md">@Model.Email</h5>

   @* <div class="card-text">@Html.Raw(Model.Content)</div> *@


       @* <div><i class="bi bi-globe"></i> @Model.Category.CategoryName</div> *@

       @* <div><i class="bi bi-person"></i> @Model.FirstName</div>
        <div><i class="bi bi-person"></i>@Model.LastName</div>
        <div><i class="bi bi-person"></i>@Model.AllRoles</div>*@

        @*<span class="alert-success">@Model.Date</span>*@


</div>


